html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

nav {
  /* border: 1px solid red; */
  margin-top: 100px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 700px;
  font-family: "Open Sans", sans-serif;
}
.title {
  /* border: 1px solid green; */
  width: 900px;
  font-size: 110px;
  font-family: "Open Sans", sans-serif;
  margin-left: 260px;
  margin-top: 100px;
}
.description {
  /* border: 1px solid orange; */
  font-size: 30px;
  margin-top: 50px;
  width: 800px;
  margin-left: 300px;
  font-family: "Open Sans", sans-serif;
}
.news {
  border: 1px solid black;
  width: 600px;
  font-family: "Open Sans", sans-serif;

  text-align: center;
}

.news > p {
  font-size: 20px;
  margin-top: 30px;
}
img {
  margin-top: 50px;
}
.projects {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}
.frowsy {
  border: 1px solid black;
  width: 600px;
  font-family: "Open Sans", sans-serif;

  text-align: center;
}
.frowsy > p {
  font-size: 20px;
  margin-top: 30px;
}
.about {
  font-family: "Open Sans", sans-serif;
  /* border: 1px solid red; */
  margin-top: 100px;
  font-size: 30px;
  width: 900px;
  margin-left: 280px;

  text-align: center;
}
ul {
  /* border: 1px solid red; */
  width: 500px;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 100px;
}
.resume {
  display: flex;
}
.resumeimage {
  border: 1px solid black;
  margin-left: 500px;
}
.download {
  margin-top: 200px;
  margin-left: 40px;
  font-family: "Open Sans", sans-serif;
}
